{{page-title "Details"}}
<section class="prj_info_line">
  <div class="prj_info_item_one">&nbsp;</div>
  <div class="prj_list_item_two">&nbsp;</div>
  <div class="prj_list_item_three">{{t "projects.list.name"}}<br>{{@model.name}}</div>
  <div class="prj_list_item_four">{{t "projects.list.chdata"}}<br>{{format-date @model.lastchanged}}</div>
  <div class="prj_list_item_five">{{t "projects.list.bywhom"}}<br>{{@model.byuser.lastname}}</div>
  <div class="prj_list_item_six">{{t "projects.list.comment"}}</div>
  <div class="prj_list_item_seven">&nbsp;</div>
</section>
